<div id="scoreboard">
  <ul>
  </ul>
</div>

<script id="scoreboard_user-template" type="text/x-handlebars-template" >
  <li id="scoreboard_user_{{id}}"><span class="name">{{name}}</span> - <span class="score">{{score}}</span></li>
</script>
