<h1>Power Ranger Trivia</h1>
<div id="explain">
<h2>The exponentially profitable game</h2>
<p>Directions:</p>
<ol>
  <li>Solve math problems!</li>
  <li>Earn points!</li>
  <li>???!</li>
  <li>Profit!</li>
</ol>
</div>
<div id="question">
  <h3>How much is this?</h3>
  <form>
    <span id="equation"><span id="base"></span><span id="exponent"></span> = 
    <input id="answer" />
  </form>
  </span>
</div>
<div id="scoreboard">
  <ul>
  </ul>
</div>

<script id="scoreboard_user-template" type="text/x-handlebars-template" >
  <li id="scoreboard_user_\{{id}}"><span class="name">\{{name}}</span> - <span class="score">\{{score}}</span> pts</li>
</script>
