<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{{ css file="style" }}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
    {{{ js file="application" }}}
  </head>
  <body>
    <div id="container">
      <div id="content_wrapper" >
        <div id="content" >
          {{{body}}}
        </div>
      </div>
    </div>
  </body>
</html>
