body {
  background: url(/images/background.jpg);
  background-size: cover;
  font-family: 'Power Rangers';
}

#explain {
  font-family: sans-serif;
}

#container {
  margin: 0 auto;
  padding: 20px;
}

#content_wrapper {
  background-color: #ddd;
  width:100%;
  min-height:600px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#content {
  padding:20px;
}

h1 {
  font-size: 140px;
  line-height: 120px;
  margin:0;
}

#question {
  background-color: #fff;
  padding:5px 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  width:700px;
  display:inline-block;
}

#question #equation{
  position:relative;
  font-size:240px;
}

#question #exponent{
  position: relative;
  top: -120px;
  font-size:120px;
}
#question #answer {
  font-family: "Power Rangers";
  font-size: 50px;
  width:240px;
  height:240px;
  vertical-align:text-top;
}

#scoreboard {
  margin:10px;
  display:inline-block;
  vertical-align:top;
  width:300px;
  font-size:40px;
}

@font-face {
    font-family: 'Power Rangers';
    src: url('/fonts/power_rangers-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
