<!doctype html>
<html>
  <head>
    <title>Test Mocha</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="css/mocha.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script src="js/mocha.js"></script>
    <script src="js/chai.js"></script>
    <script src="js/chai-jquery.js"></script>
    <script src="js/sinon.js"></script>
    <script src="js/fixtures.js"></script>
    <script>mocha.setup('bdd')</script>
    <script>
      function assert(expr, msg) {
        if (!expr) throw new Error(msg || 'failed');
      }
      var expect = chai.expect
    </script>
    {{{ js file="application" }}}
    {{#each assets}}
      {{#each this}}
        <script src="js/{{@key}}/{{this}}"></script>
      {{/each}}
    {{/each}}
    <script>
      onload = function(){
        var runner = mocha.run();
      };
    </script>
  </head>
  <body>
    <p>Test page:</p>
    <div id="mocha"></div>
  </body>
</html>
